<head>
<style>
 .photo{
     width: auto;
     height: 100px;
     border: 5px solid #00ff
 }
 .place {
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: right;
 }
 </style>
 </head>
 <body>
 <div class="photo place">
  <img src="https://photos.google.com/search/_tra_/photo/AF1QipN175cyKBi31TCbjtvwaCm8Le5-0L0bWleejxPb">
</div>
</body>